@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h1>Iniciar Sesión</h1>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label>Usuario</label>
        <input name="username" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-2">@ViewBag.Error</div>
}
